.main{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    background-color: blue;
    color: white;
    margin-right: 0.8rem;
}
.button2{
    background-color: red;
    color: white;
}
.button:hover{
    background-color: blue;
    padding: 0.8rem;
    color: white;
}
.button2:hover{
    background-color: red;
    padding: 0.8rem;
    color: white;
}
.success{
    color: red;
    background-color: white;
}