.main{
display: flex;
justify-content: center;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
